<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bassein | Gallery</title>
    <link rel="icon" type="image/png" href="..../img/icon.jpg">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
    <body class="bg-gray-100 min-h-screen pt-20">
        <div id="header"></div>
        <div class="relative max-w-7xl mx-auto items-center justify-center mt-12 font-serif">
            <h1 class="text-black text-center font-bold text-3xl sm:text-4xl lg:text-5xl "> Pool Gallery</h1>
            <p class="text-cyan-600 text-center text-sm sm:text-base mt-4">
                <a href="../index.html" class="hover:font-bold pb-12">Home</a> | Gallery
            </p>
        </div>
        <div class="container mx-auto px-4 mt-12 ">
            <div class="gallery-container lg:ml-28 lg:mr-28 lg:pl-24 lg:pr-24">
                <!-- Page 1 -->
                <div class="page" data-page="1">
                    <ul class="grid gap-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-screen-lg w-full mx-auto p-4">
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/gallery1.jpeg" alt="Volcano and lava field against a stormy sky" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Mountains and volcanos
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/bg1.png" alt="Guy on a bike on a wooden bridge with a forest backdrop" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Adventure getaways
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/gallery2.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Forest escapes
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li>
                            <a href="#" class="block relative group">
                              <figure class="relative overflow-hidden h-64 w-full">
                                <img src="../img/gallery3.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                  Forest escapes
                                </figcaption>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="block relative group">
                              <figure class="relative overflow-hidden h-64 w-full">
                                <img src="../img/gallery4.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                  Forest escapes
                                </figcaption>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="block relative group">
                              <figure class="relative overflow-hidden h-64 w-full">
                                <img src="../img/gallery5.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                  Forest escapes
                                </figcaption>
                              </figure>
                            </a>
                          </li>
                      </ul>
                      
                      
                </div>
    
                <!-- Page 2 -->
                <div class="page hidden" data-page="2">
                    <ul class="grid gap-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-screen-lg w-full mx-auto p-4">
                        <li>
                            <a href="#" class="block relative group">
                              <figure class="relative overflow-hidden h-64 w-full">
                                <img src="../img/gallery6.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                  Forest escapes
                                </figcaption>
                              </figure>
                            </a>
                          </li>
                          <li>
                              <a href="#" class="block relative group">
                                <figure class="relative overflow-hidden h-64 w-full">
                                  <img src="../img/gallery8.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                  <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div><div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                  <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                    Forest escapes
                                  </figcaption>
                                </figure>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="block relative group">
                                <figure class="relative overflow-hidden h-64 w-full">
                                  <img src="../img/gallery8.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                  <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                  <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                    Forest escapes
                                  </figcaption>
                                </figure>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="block relative group">
                                <figure class="relative overflow-hidden h-64 w-full">
                                  <img src="../img/bg12.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                  <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                  <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                    Forest escapes
                                  </figcaption>
                                </figure>
                              </a>
                            </li>
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/bg2.jpeg" alt="Volcano and lava field against a stormy sky" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Mountains and volcanos
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/bg3.jpeg" alt="Guy on a bike on a wooden bridge with a forest backdrop" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Adventure getaways
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                       
                      </ul>
                </div>
                <!-- Page 3 -->
                <div class="page hidden" data-page="3">
                    <ul class="grid gap-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-screen-lg w-full mx-auto p-4">
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/bg4.jpg" alt="Volcano and lava field against a stormy sky" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Mountains and volcanos
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/bg4.jpg" alt="Guy on a bike on a wooden bridge with a forest backdrop" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Adventure getaways
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="block relative group">
                            <figure class="relative overflow-hidden h-64 w-full">
                              <img src="../img/bg5.jpeg" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                              <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                              <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                Forest escapes
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                        <li>
                            <a href="#" class="block relative group">
                              <figure class="relative overflow-hidden h-64 w-full">
                                <img src="../img/blog1.png" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                  Forest escapes
                                </figcaption>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="block relative group">
                              <figure class="relative overflow-hidden h-64 w-full">
                                <img src="../img/blog2.png" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                  Forest escapes
                                </figcaption>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="block relative group">
                              <figure class="relative overflow-hidden h-64 w-full">
                                <img src="../img/blog3.png" alt="Person standing alone in a misty forest" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
                                <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-600 group-hover:opacity-60"></div>
                                <figcaption class="absolute inset-0 flex justify-center items-center text-white text-lg font-semibold opacity-0 transition-opacity duration-600 transform translate-x-full translate-y-full group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0">
                                  Forest escapes
                                </figcaption>
                              </figure>
                            </a>
                          </li>
                      </ul>
                </div>
            </div>
    
            <!-- Page Navigation -->
            <div class="flex justify-center gap-4 mt-8">
                <button class="page-btn hover:bg-black px-2 py-2 hover:text-white bg-gray-300" data-page="1">1</button>
                <button class="page-btn hover:bg-black px-2 py-2 hover:text-white bg-gray-300" data-page="2">2</button>
                <button class="page-btn hover:bg-black px-2 py-2 hover:text-white bg-gray-300" data-page="3">3</button>
            </div>
        </div>    
        <div class="mt-12"></div>
        <div id="footer"></div>
        <script src="../js/gallery.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>
