<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bassein | Swimming Pool Cleaning & Maintainance</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="../img/icon.png">
    <script src="../js/index.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-white text-black">
    <header class="fixed top-0 left-0 w-full z-50 bg-white shadow-lg transition-all duration-300 ease-in-out">
        <div class="flex flex-row md:flex-row bg-black items-center justify-between px-6 py-4 md:py-1 space-y-2 md:space-y-0 md:space-x-2">
            <!-- Logo -->
            <img src="img/header_logo.png" alt="header logo" class="h-8 md:h-6 transition-all duration-300">
            <!-- Button -->
            <a href="components/contact.html" class="bg-green-600 text-sm hover:bg-blue-400 text-white py-2 px-8 md:px-6 transition-all shadow-lg duration-300">
                BUY NOW
            </a>            
        </div>
        <nav class="text-black font-serif text-sm font-semibold py-8 bg-white shadow-sm border-b " style="background-color: white">
            <div class="max-w-7xl mx-auto px-4">
                <div class="flex justify-between items-center ">
                    <img src="img/bassein.png" alt="bassein logo" class="w-36 h-26 ml-10">
                    <button id="menu-btn" class="md:hidden py-4 text-black text-2xl text-green-500 transition-all duration-300 absolute right-10 mr-4 mt-4">☰</button>

                    <!-- Desktop Menu -->
                    <ul class="hidden md:flex space-x-6 mt-6 flex -left-10 mr-4 mt-4 gap-2 ">
                        <li><a href="../index.html" class="block py-2 hover:border-b-2 hover:border-yellow-300 transition-all duration-300">HOME</a></li>
                        <li><a href="components/about.html" class="block py-2 hover:border-b-2 hover:border-yellow-300 transition-all duration-300">ABOUT US</a></li>
                        <li class="group relative">
                            <a href="components/services.html" class="dropdown-toggle block py-2 hover:border-b-2 hover:border-yellow-300 transition-all duration-300">
                                SERVICES &#709;
                            </a>
                            <ul class="absolute hidden group-hover:block bg-black text-white shadow-lg py-2 w-60 mt-2 transition-all duration-300">
                                <li><a href="components/services1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">NEW POOLS    ></a>  </li>
                                <li><a href="components/services1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">LANDSCAPING  ></a> </li>
                                <li><a href="components/services1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">REPAIR   ></a></li>
                                <li><a href="components/services1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">REMODEL  ></a></li>
                                <li><a href="components/services1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">PRODUCTS ></a></li>
                            </ul>
                        </li>
                        <li class="group relative">
                            <a href="components/areas.html" class="dropdown-toggle block py-2 hover:border-b-2 hover:border-yellow-300 transition-all duration-300">
                                AREAS SERVED &#709;
                            </a>
                            <ul class="absolute hidden group-hover:block bg-black text-white shadow-lg py-2 w-60 mt-2 transition-all duration-300">
                                <li><a href="components/areas1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">Phoenix, AZ></a></li>
                                <li><a href="components/areas1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">Orlando, FL></a></li>
                                <li><a href="components/areas1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">Las Vegas, NV></a></li>
                                <li><a href="components/areas1.html" class="block px-4 py-2 hover:text-yellow-300 transition-all duration-300">San Diegos, CA></a></li>
                            </ul>
                        </li>
                        <li><a href="components/gallery.html" class="block py-2 hover:border-b-2 hover:border-yellow-300 transition-all duration-300">GALLERY</a></li>
                        <li><a href="components/blogs.html" class="block py-2 hover:border-b-2 hover:border-yellow-300 transition-all duration-300">BLOGS</a></li>
                        <li><a href="components/contact.html" class="block py-2 hover:border-b-2 hover:border-yellow-300 transition-all duration-300">CONTACT</a></li>
                        
                        <a href="components/contact.html" class="shadow-lg bg-green-600 hover:bg-blue-300 text-white px-4 py-2 text-sm" >REQUEST QUOTE</a>
                    </ul>
                </div>
                
                <!-- Mobile Menu -->
                <div id="mobile-menu" class="hidden bg-black text-sm md:hidden text-white py-4 transition-all duration-300">
                    <a href="../index.html" class="block  py-2 px-4 hover:text-yellow-300 transition-all duration-300">HOME</a>
                    <a href="components/about.html" class="block  py-2 px-4 hover:text-yellow-300 transition-all duration-300">ABOUT US</a>
                    
                    <div class="relative">
                        <a href="components/services.html" class="mobile-dropdown-toggle w-full text-left px-4 py-2 hover:text-yellow-300 flex justify-between items-center transition-all duration-300">
                            SERVICES
                            <span class="transform transition-transform duration-300">&#709;</span>
                        </a>

                        <div class="mobile-dropdown-content hidden bg-black pl-8 transition-all duration-300">
                            <a href="components/services1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">NEW POOLS</a>
                            <a href="components/services1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">LANDSCAPING</a>
                            <a href="components/services1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">REPAIR</a>
                            <a href="components/services1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">REMODEL</a>
                            <a href="components/services1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">PRODUCTS</a>
                        </div>
                    </div>
                    <div class="relative">
                        <a href="components/areas.html" class="mobile-dropdown-toggle w-full text-left px-4 py-2 hover:text-yellow-300 flex justify-between items-center transition-all duration-300">
                            AREAS SERVED
                            <span class="transform transition-transform duration-300">&#709;</span>
                        </a>

                        <div class="mobile-dropdown-content hidden bg-black pl-8 transition-all duration-300">
                            <a href="components/areas1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">Phenix, AZ</a>
                            <a href="components/areas1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">Orkando, FL</a>
                            <a href="components/areas1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">Las Vegas, NV</a>
                            <a href="components/areas1.html" class="block py-2 hover:text-yellow-300 transition-all duration-300">San Diego, CA</a>
                        </div>
                    </div>
                    <a href="components/gallery.html" class="block py-2 px-4 hover:text-yellow-300 transition-all duration-300">GALLERY</a>
                    <a href="components/blogs.html" class="block py-2 px-4 hover:text-yellow-300 transition-all duration-300">BLOGS</a>
                    <a href="components/contact.html" class="block py-2 px-4 hover:text-yellow-300 transition-all duration-300">CONTACT</a>
                    <!-- Search Bar -->
                    <div class="px-4 py-2">
                        <input type="text" placeholder="Search..." class="w-full px-3 py-2 text-black border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500">
                    </div>

                    <!-- Social Media Icons -->
                    <div class="flex justify-center mt-4 space-x-4">
                        <a href="https://www.facebook.com" target="_blank" class="text-xl text-white hover:text-yellow-500 transition-all duration-300">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com" target="_blank" class="text-xl text-white hover:text-yello-500 transition-all duration-300">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.twitter.com" target="_blank" class="text-xl text-white hover:text-yellow-500 transition-all duration-300">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <script src="../js/index.js" defer></script>
</body>
</html>
